# Ignorer le dossier .vs qui contient des fichiers de configuration de Visual Studio
.vs/

# Ignorer les dossiers bin et obj générés par la compilation
bin/
obj/

# Ignorer les fichiers utilisateurs Visual Studio
*.user
*.suo
*.sln.docstates
